

<header>
  <div class="logo"><a href="/">Musicly</a></div>
  <nav>
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">Hindi</a></li>
      <li><a href="#">Haryanavi</a></li>
      <li><a href="#">Punjabi</a></li>
    </ul>
    <i class="login fa fa-user"></i>
  </nav>


  <div class="mobileNav">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">Hindi</a></li>
      <li><a href="#">Haryanavi</a></li>
      <li><a href="#">Punjabi</a></li>
    </ul>
    <button>Profile</button>
  </div>
</header>
