<section id="playerCont">
  <div class="playerContainer">
    <input type="range" id="progressBar" min="0" max="100" value="0" />

    <div class="playerBody">
      <div class="playerRight">
        <div class="playerBtn">
          <ul>
            <li id="closeBtn"><i class="fa fa-times"></i></li>
            <li id="backBtn"><i class="fa fa-step-backward"></i></li>
            <li id="playBtn"><i class="fa fa-play"></i></li>
            <li id="nextbtn"><i class="fa fa-step-forward"></i></li>
          </ul>
        </div>

        <div class="playerTime"></div>

        <div class="playerInfo">
          <img class="playerCover" src="/assets/img/cover.png" />
          <div class="playerSongName">Final Masquerade hello...</div>
        </div>
      </div>

      <div class="playerBtn">
        <ul>
          <li class="heartBtn"><i class="fa-regular fa-heart"></i></li>
          <li class="list__link"><i class="fa fa-random"></i></li>
          <li class="reloadBtn"><i class="fa fa-undo"></i></li>
          <li class="list__link"><i class="fa-solid fa-ellipsis-vertical"></i></li>
          <li class="popupBtn"><i class="fa-solid fa-caret-up"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="popupContainer">
  <div class="popupBody">
    <div class="popupLeft">
      <img class="popupImg" src="/assets/img/cover.png" />
    </div>
    <div class="popupRight">
      <div class="popupMenu">
        <li class="active">up next</li>
        <li>lyrics</li>
        <li>related</li>
      </div>
      <div class="popupContant"></div>
    </div>
  </div>
</div>