#hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 110px 40px 110px 50px;
  overflow-y: auto;
  height: 100vh;
}

.box:nth-child(2) {
  display: grid;
  row-gap: 15px;
}

.boxx {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 10px 20px;
  background-color: var(--secondary);
  border-radius: 9px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.head h2 {
  font-size: 20px;
  color: var(--extraLight);
  font-weight: 600;
}

.head a {
  color: #1ed760;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.songItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 17px 0px;
  background-color: #2d3744;
  box-shadow: 1px 1px 20px 1px #181f26;
  border-radius: 9px;
}

.songItem2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--lightGray);
}

.ItemLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songCover {
  border-radius: 50%;
  height: 43px;
  width: 43px;
  margin: 5px 10px 5px 0px;
  cursor: pointer;
}

.songTitle {
  text-align: left;
  margin: 0px auto 0px 10px;
  font-size: 16px;
  cursor: pointer;
}

.songTitle:hover {
  text-decoration: underline;
}

.ItemRight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #e2e0e0;
}

.ItemRight i {
  font-size: 16px;
  margin-left: 10px;
  list-style: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
}

.ItemRight i:hover {
  background-color: #807f7f;
}

@media (max-width: 1000px) {
  #hero {
    grid-template-columns: repeat(1, 1fr);
    padding: 110px 20px 110px 30px;
  }
}

@media (max-width: 500px) {
  #hero {
    padding: 100px 10px 100px 20px;
  }

  .boxx {
    padding: 20px 15px 10px 15px;
  }

  .head {
    margin-bottom: 25px;
  }

  .songItem {
    padding: 5px 5px;
  }
}
